<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Reminds</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>
    <link rel="icon" href="/images/calendar.png">
  </head>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@600&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Display:wght@900&family=Space+Grotesk:wght@600&display=swap');
  </style>
  <div class='css'>
    <link rel="stylesheet" href="/css/styles.css">
  </div>
  <button class ='dark'>
    <i class="fas fa-sun fa-2x"></i>
  </button>
  <body class="light-mode">
    <h1>Reminds</h1>
    <form action="/" method="post">
      <div class="md-form">
        <input type="email" id="receiver" name="receiver" class="form-control" autocomplete="off">
        <label for="receiver">Receiver</label>
      </div>
      <div class="md-form">
        <input type="text" id="title" name="subject" class="form-control" autocomplete="off">
        <label for="title">Title</label>
      </div>
      <div class="md-form">
        <textarea id="text" name="text" class="md-textarea form-control" rows="3"></textarea>
        <label for="text">Body</label>
      </div>
      <!-- Receiver : <input type="text" name="receiver"><br><br> -->
      <!-- Subject : <input type="text" name="subject"><br><br>
      Body : <input type="text" name="text"><br><br> -->
      <input type=datetime-local id="Appointment Date" name="time" mydate="Appointment_Date" required><br><br>
      <button type="submit" class="submit btn btn-light" name="button">Add Reminder</button>
    </form>
    <script src="/js/index.js"></script>
  </body>
</html>
