
body{
  text-align: center;
  font-family: 'Space Grotesk', sans-serif;
}
body.dark-mode{
  text-align: center;
  color: white;
  background-color: black;
  font-family: 'Space Grotesk', sans-serif;
}
h1{
  margin-top: 40px;
  font-family: 'Big Shoulders Inline Display', cursive;
  font-size: 90px;
}
form{
  margin: 100px 300px 0 300px;
}
.dark{
  background-color: white;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  margin: 50px;
}
body.dark-mode .dark
{
  background-color: black;
  color: white;
  border: black;
  position: absolute;
  top: 0;
  right: 0;
  margin: 50px;
}
body.dark-mode .dark::after{
  border: none;
}
.md-form label{
  color: black;
}
body.dark-mode .form-control{
  color: white;
}
body.dark-mode .md-form label{
  color: white;
}
body.dark-mode .btn{
  color: white;
  background-color: black !important;
  border: 1px solid white;
}
body.dark-mode .btn:hover{
  color: black;
  background-color: white !important;
  border: 1px solid black;
}
@media only screen and (max-width: 750px) {
  html{
    margin: 0;
  }
  body{
    text-align: center;
    font-family: 'Space Grotesk', sans-serif;
    margin: 0;
  }
  h1{
    text-align: left;
    margin-left: 40px;
    margin-top: 40px;
    font-family: 'Big Shoulders Inline Display', cursive;
    font-size: 60px;
  }
  form{
    margin: 30px ;
    margin-top: 100px ;
  }
  .dark{
    /* background-color: white;
    border: none;
    position: absolute;
    top: 0;
    right: 0; */
    margin-top: 60px;
    margin-right: 30px;
  }
}
